<div class="container">
  <h3>{{(projectToDisplay | async)?.name}}</h3>
  <h4>By {{(projectToDisplay | async)?.starters}}</h4>
  <h5>Here is more information about {{(projectToDisplay | async)?.name}}</h5>
  <p>{{(projectToDisplay | async)?.description}} <br>
  Our goal is to reach $ {{(projectToDisplay | async)?.goal}} <br>
  When we reach our goal we will {{(projectToDisplay | async)?.plans}} <br>
  If you donate you are entered into winning {{(projectToDisplay | async)?.rewards}}
  </p>
</div>
